@using CookieHelper.Models;
@using CookieHelper.Enums;
@model ProcessViewModel

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("ProcessAction", "Process", FormMethod.Post))
        {
            <div>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div>
                @Html.LabelFor(m => m.AdditionalProcessElements)
                @Html.TextBoxFor(m => m.AdditionalProcessElements)
            </div>
            <div>
                @Html.RadioButtonFor(m => m.ProcessTypeName, ProcessType.ProcessType1)
                <span>@ProcessType.ProcessType1</span>
                @Html.RadioButtonFor(m => m.ProcessTypeName, ProcessType.ProcessType2)
                <span>@ProcessType.ProcessType2</span>
            </div>
            <div>
                <input type="submit" value="send" />
            </div>
        }

    </div>
</div>